{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="ROMA spectral database">
    <meta name="author" content="Lucia Mandon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROMA - {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'datatables.min.css' %}" />
    <script src="{% static 'datatables.min.js' %}"></script>
  </head>
  <body>
    <header>
      <a href="{% url 'root' %}"><img src="{% static 'img/logo.png' %}" alt"ROMA logo"></a>
      <h1>{{ title }}</h1>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      Data: L. Mandon (LGLTPE, Université de Lyon) | Website: M. Volat (LGLTPE, CNRS/OSUL) | Contact: lucia.mandon@univ-grenoble-alpes.fr
    </footer>
  </body>
</html>
