{% extends 'base.html' %}
{% load static %}

{% block content %}


<p>The ROMA database (ROck reflectance for MArtian in situ exploration) provides the reflectance spectra between 0.4 µm and 3-4 µm of various terrestrial, Martian and synthethic samples, as a means to document reference measurements for comparison with spectra measured by visible and near-infrared spectrometers on planetary surfaces, with a focus on Martian analogs.</p>

<p>This project was developped in a joint effort between the LGLTPE/UCBL/OSUL (Lyon, France) and IPAG (Grenoble, France).</p>

<div style="clear: both; text-align: center; font-size: x-large; padding: 20px 0px 48px 0px;">
  <a href="{% url 'samples-index' %}"><b>Access the data</b></a>
</div>
 
{% endblock %}
