{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if sample %}
    <h2>Sample information</h2>
	{% if sample.image %}<dd><img height="300" src="data:image/jpeg;base64,{{ sample.image }}">{% endif %} {% if sample.image2 %}<img height="300" src="data:image/jpeg;base64,{{ sample.image2 }}">{% endif %} {% if sample.image3 %}<img height="300" src="data:image/jpeg;base64,{{ sample.image3 }}">{% endif %}</dd>
    <dl>
      <dt>Name</dt><dd>{{ sample.name }}</dd>
      <dt>Type</dt><dd>{{ sample.type|default:"None" }}</dd>
	  <dt>Aspect</dt><dd>{{ sample.aspect|default:"None" }}</dd>
      <dt>Origin</dt><dd>{{ sample.origin|default:"None" }}</dd>
      <dt>Curation</dt><dd>{{ sample.owner|default:"None" }}</dd>
	  <dt>Citation</dt><dd>{{ sample.cite|default:"None" }}</dd>
    </dl>

    <h2>Reflectance data</h2>
    {% if reflectances %}
    {% for r in reflectances %}
	<h3>Experiment: {{ r.experiment|default:"None" }}</h3>
    <div style="width: 672px;">
      <div>
        <img src="{% url 'sample-reflectance-fig' sample_name=sample.name id=r.id %}">
      </div>
      <div style="margin-bottom: 10px;text-align: center;">
        Download data:
        <a href="{% url 'sample-reflectance-data-raw' sample_name=sample.name id=r.id %}">[calibrated]</a>
        <a href="{% url 'sample-reflectance-data-corr' sample_name=sample.name id=r.id %}">[refined]</a>
      </div>
      {% if r.band_parameters %}
	  <table style="width: 100%;">
        <thead>
          <tr>
            <th colspan="5">Band parameters</th>
          </tr>
          <tr>
            <th>Position (nm)</th>
            <th>Depth</th>
            <th>Width (nm)</th>
            <th>Area</th>
            <th>FWHM (nm)</th>
          </tr>
        </thead>
        <tbody>
        {% for bp in r.band_parameters %}
          <tr>
           <td><center>{{ bp.0|floatformat:-1 }}</center></td>
           <td><center>{{ bp.1|floatformat:3 }}</center></td>
           <td><center>{{ bp.2|floatformat:-1 }}</center></td>
           <td><center>{{ bp.3|floatformat:-1 }}</center></td>
           <td><center>{{ bp.4|floatformat:-1 }}</center></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
	  {% endif %}
    </div>
    {% endfor %}
    {% else %}
    No reflectance data.
    {% endif %}
    <h2>XRD data</h2>
    {% if xrds %}
    {% for x in xrds %}
    <div>
      <img src="{% url 'sample-xrd-fig' sample_name=sample.name id=x.id %}">
    </div>
	<div style="margin-bottom: 10px;text-align: center;">
        Download data:
		<a href="{% url 'sample-xrd-data' sample_name=sample.name id=x.id %}">[counts]</a>
	</div>
	<b>First-order composition:</b>
	{{ x.first_order_composition }}
	<p>(+: <15%, ++: 15–30%, +++: 30–60%, ++++: >60%, none specified: missing Reference Intensity Ratio(s) in the PDF-4 database)</p>
    {% endfor %} 
    {% else %}
    No XRD data.
    {% endif %}
{% else %}
    <p>Sample not found.</p>
{% endif %}
{% endblock %}
