{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if samples %}
    <table id="samples-index" class="display compact">
      <thead>
        <tr>
          <th><p style="text-align:left">Name</p></th>
          <th><p style="text-align:left">Type</p></th>
          <th><p style="text-align:left">Origin</p></th>
        </tr>
      </thead>
      <tbody>
        {% for sample in samples %}<tr>
          <td><a href="{% url 'sample-detail' sample_name=sample.name %}">{{ sample.name }}</a></td>
          <td>{{ sample.type }}</td>
          <td>{{ sample.origin }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script type="text/javascript">
      $(document).ready(function() {
      $('#samples-index thead tr').clone(true).appendTo('#samples-index thead');
      $('#samples-index thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        $(this).html('<input type="text" placeholder="Search '+title+'" />');
 
        $('input', this).on('keyup change', function () {
          if (table.column(i).search() !== this.value) {
            table
                 .column(i)
                 .search( this.value )
                 .draw();
          }
        });
      });
        var table = $('#samples-index').DataTable({
            fixedHeader: true,
            lengthMenu: [[25, 50, -1], [25, 50, "All"]],
            orderCellsTop: true,
            order: [[0, 'asc']],
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            }
        });
      });
    </script>
{% endif %}
{% endblock %}
