body {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	background: #eee;
	padding: 8px 5px 2px 5px;
	width: calc(100% - 10px);
}
h3 {
	background: #eee;
	padding: 8px 5px 2px 5px;
	width: calc(100% - 10px);
}

header {
	background: black;
	color: white;
	padding: 5px;
}
header img {
	float: left;
	height: 70px;
	margin: 5px 15px 5px 5px;
	width: 70px;
}

main {
	padding: 5px;
}

footer {
	background: #8F8F8F;
	color: white;
	margin-top: 10px;
	padding: 5px;
}

dl {
	border-top: 1px solid #eee;
	display: flex;
	flex-flow: row wrap;
	margin: 0;
}
dt {
	background-color: #eee;
	font-weight: bold;
	flex-basis: 100px;
	padding: 4px 8px 2px 8px;
	text-align: right;
}
dd {
	border-bottom: 1px solid #eee;
	flex-basis: calc(100% - 124px);
	flex-grow: 1;
	margin: 0;
	padding: 4px 4px;
}
